body {
    display: flex;
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0 80px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    flex-shrink: 1;
    margin-bottom: 80px;
    gap: 30px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 30px;
    min-width: 300px;
    flex-shrink: 1;
}

a, .hero-secondary-text {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-main-text {
    font-size: 40px;
    font-weight: extra bold;
    color: #f9faf8;
}

.header-content-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex-shrink: 1;
}

button {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    width: 100px;
    height: 25px;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
}

button:hover {
    background-color: #5a96f7;
    cursor: pointer;
}

.header-image {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 200px;
    max-width: 500px;
    min-width: 300px;
}

.low {
    flex: 1 0 0;
}

.illustration-section {
    display: flex;
    flex-direction: column;
}

.illustration-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.illustrations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
}

.image {
    height: 100px;
    width: 110px;
    border: 3px solid #3882f6;
    border-radius: 10px;;
}

.image-subtext {
    display: flex;
    width: 120px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 120px 300px;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-customer {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: bold;
    color: #1f2937;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 110px;
}

.sign-up-blue {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    border-radius: 15px;
    gap: 100px;
    flex-wrap: wrap;
}

.sign-up-text-header {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;;
}

.sign-up-text-subtext {
    color: #f9faf8;
}

.button-border {
    border: 3px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1f2937;
    color: #f9faf8;
}